---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";

import birdImage from '../images/bird_in_tree.jpg';
import rockImage from '../images/rocks_on_beach.jpg';
import mountainImage from '../images/mountain_from_bus.jpg';
---
<script>
  // Javascript scroll-watcher, works on all browsers
  document.onscroll = () => {
    let winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    let height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let scrolled = (winScroll / height);
    const bar = document.querySelector('.progress-bar') as HTMLDivElement;
    if (bar) {
      bar.style.transform = `scaleY(${scrolled})`;
    }
  };

  // For browsers that don't support animation-timeline CSS
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      entry.isIntersecting ? entry.target.classList.add('show') : entry.target.classList.remove('show');
    });
  });
  const hiddenElements = document.querySelectorAll('.fade-hidden');
  hiddenElements.forEach(el => observer.observe(el));
</script>

<BaseLayout title="Scroll Animation - Kevin Clemons">
  <div class="progress-container">
    <div class="progress-bar"></div>
  </div>
  <main class="grid min-h-screen mt-8 place-items-center">
    <header class="grid place-items-center gap-8">
      <NavBar/>
      <h1 class="text-4xl">Scroll Animation</h1>
    </header>
    <section>
      <Image class="fade-hidden" src={birdImage} height={640} alt="bird in a tree" />
      <h3 class="fade-hidden">Section 1</h3>
    </section>
    <section>
      <Image class="fade-hidden" src={rockImage} height={640} alt="bird in a tree" />
      <h3 class="fade-hidden">Section 2</h3>
    </section>
    <section>
      <Image class="fade-hidden" src={mountainImage} height={640} alt="bird in a tree" />
      <h3 class="fade-hidden">Section 3</h3>
    </section>
    <section>
      <Image class="fade-hidden" src={birdImage} height={640} alt="bird in a tree" />
      <h3 class="fade-hidden">Section 4</h3>
    </section>
  </main>
</BaseLayout>

<style>
  section {
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
  }
  h3 {
    font-size: 1.5rem;
  }
  .progress-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
    z-index: 10;
  }
  .progress-bar {
    width: 8px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-color: aquamarine;
  }
  .fade-hidden {
    opacity: 0;
    transform: scale(0.8) translateX(-16px);
    transition: opacity 2s, transform 1s ease-out;
    
  }
  @supports (animation-timeline: view()) {
    .fade-hidden {
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: 250px 500px;
    }
  }
  @supports not (animation-timeline: view()) {
    .show {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }
  @keyframes fade-in {
    to {
      transform: scale(1) translateX(0);
      opacity: 1;
    }
  }
</style>